.Post {
   padding: 16px;
   width: 250px;
   text-align: center;
   border: 1px solid #eee;
   box-shadow: 0 2px 5px #ccc;
   margin: 10px;
   cursor: pointer;
   transition: all 0.3s;

   &:hover,
   &:active {
      background-color: #c0ddf5;
   }
}

.Author {
   margin: 16px 0;
   color: #ccc;
}
